n8n_json/CREAR_EXCEL.json
{
  "name": "CREAR_EXCEL",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "fileName": "={{ $('start').item.json.file_name+ \".xlsx\" }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -656,
        -32
      ],
      "id": "22b7dc85-e9cf-4fd4-907f-adbbfd675a86",
      "name": "Convert to File4"
    },
    {
      "parameters": {
        "fileName": "={{ $('start').item.json.file_name+ \".xlsx\" }}",
        "parentId": "={{ $('start').item.json.parent_folder }}",
        "binaryData": true
      },
      "type": "n8n-nodes-base.microsoftOneDrive",
      "typeVersion": 1,
      "position": [
        -464,
        -32
      ],
      "id": "f41fcdb2-1a5a-44fe-8028-ccc117534eb4",
      "name": "GUARDAR_ARCHIVO",
      "credentials": {
        "microsoftOneDriveOAuth2Api": {
          "id": "Sk09Y3pRv4uy2lLG",
          "name": "Microsoft Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $json.id }}/createLink",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"type\": \"edit\",\n  \"scope\": \"anonymous\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -288,
        -32
      ],
      "id": "c8e9036d-6b33-4441-a887-899d4a34a2d4",
      "name": "URL_DESCARGA",
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "Y5GP57FlaZyiBK8B",
          "name": "Microsoft account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "array",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -832,
        -32
      ],
      "id": "b63995f3-c36f-47cb-87e2-72a57dc3254f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"array\":  [\n  {\n    \"id_assistant\": \"Juan\",\n    \"name\": \"Pérez\",\n    \"role\": 30,\n    \"attendance\": false,\n    \"table\": \"asistencia\"\n  },\n    {\n    \"id_assistant\": \"Juan\",\n    \"name\": \"Pérez\",\n    \"role\": 30,\n    \"attendance\": false,\n    \"table\": \"asistencia\"\n  },\n    {\n    \"id_assistant\": \"Juan\",\n    \"name\": \"Pérez\",\n    \"role\": 30,\n    \"attendance\": false,\n    \"table\": \"asistencia\"\n  },\n    {\n    \"id_assistant\": \"Juan\",\n    \"name\": \"Pérez\",\n    \"role\": 30,\n    \"attendance\": false,\n    \"table\": \"asistencia\"\n  }\n],\n  \"file_name\": \"SDJFJASHDF\",\n  \"parent_folder\": \"\"\n  \n}\n"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1024,
        -32
      ],
      "id": "fb314f92-abfc-4d8d-a109-d19a1df407dc",
      "name": "start"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        -256
      ],
      "id": "e0cd90ac-e149-4c04-a460-e9c01b575520",
      "name": "VER_CARPETAS",
      "credentials": {
        "microsoftOAuth2Api": {
          "id": "Y5GP57FlaZyiBK8B",
          "name": "Microsoft account"
        }
      }
    }
  ],
  "pinData": {
    "start": [
      {
        "json": {
          "array": [
            {
              "id_assistant": "Juan",
              "name": "Pérez",
              "role": 30,
              "attendance": false,
              "table": "asistencia"
            },
            {
              "id_assistant": "Juan",
              "name": "Pérez",
              "role": 30,
              "attendance": false,
              "table": "asistencia"
            },
            {
              "id_assistant": "Juan",
              "name": "Pérez",
              "role": 30,
              "attendance": false,
              "table": "asistencia"
            },
            {
              "id_assistant": "Juan",
              "name": "Pérez",
              "role": 30,
              "attendance": false,
              "table": "asistencia"
            }
          ],
          "file_name": "SDJFJASHDF",
          "parent_folder": ""
        }
      }
    ]
  },
  "connections": {
    "Convert to File4": {
      "main": [
        [
          {
            "node": "GUARDAR_ARCHIVO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GUARDAR_ARCHIVO": {
      "main": [
        [
          {
            "node": "URL_DESCARGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "start": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VER_CARPETAS": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcff5e3f-7b02-4127-ad9c-f0cdc1e177c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54ec11882ca9b3e82b062f751bf5d6c4d986ec6ac834af1d71fe0dcbd9b6a5cf"
  },
  "id": "sOKBJYRMRjAcRKTh",
  "tags": []
}